body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
}

.app-slider .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

.code-mirror {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: aliceblue;
}

.ant-modal {
  width: 1000px !important;
}

.ant-modal .ant-modal-body {
  max-height: 700px;
  overflow-y: auto;
}

.tag-page .ant-tabs-nav-wrap {
  padding: 5px 10px 0;
}

.tag-page .ant-tabs-content-holder {
  height: 100%;
}

.tag-page .ant-tabs-content {
  height: 100%;
}

.ant-tabs-tabpane {
  height: 100%;
}

.txt-omit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* 覆盖antd表格样式 */
.ant-table-wrapper,
.ant-spin-nested-loading,
.ant-spin-container {
  height: 100%;
}

.ant-spin-container {
  display: flex;
  flex-direction: column;
}

.ant-table {
  flex: 1;
  overflow: auto;
}

/* 组件编辑状态样式 */
/* .focus 选中状态(蓝色) 
   .hover 悬浮状态(红色) 
   .delete 删除状态(灰色)
 */
.component {
  position: relative;
  flex: 1;
  box-sizing: border-box;
}

/* 为拖拽handler提供位置 */
.component.edit {
  padding-left: 20px;
}

.component.edit.focus>.handler {
  visibility: visible;
  background-color: #1890ff40;
}

.component.edit.focus>.handler::after {
  height: 100%;
  content: '';
  margin-right: -1px;
  border-right: 1px dashed #1890ff;
  z-index: 2;
}

.component.edit.hover>.handler {
  visibility: visible;
  background-color: #cc000040;
}

.component.edit.hover>.handler::after {
  height: 100%;
  content: '';
  margin-right: -1px;
  border-right: 1px dashed #df3540;
  z-index: 2;
}

.component.edit>.line {
  position: absolute;
  z-index: 2;
  visibility: hidden;
  border: 0 dashed transparent;
}

.component.edit.focus>.line {
  border-color: #1890ff;
  visibility: visible;
}

.component.edit.hover>.line {
  border-color: #df3540;
  visibility: visible;
  z-index: 3;
}

.component.edit>.coner {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 2px;
  border-style: solid;
  visibility: hidden;
}

.component.edit.focus>.coner {
  border-color: #1890ff;
  visibility: visible;
}

.component.edit.hover>.coner {
  border-color: #df3540;
  visibility: visible;
}

.component.edit.delete {
  background: repeating-linear-gradient(45deg,
      gray 0px,
      gray 10px,
      white 10px,
      white 20px);
  background-clip: padding-box;
  opacity: 0.6;
}

.component.edit.dragover {
  background-color: #7cd77f;
}

.component.edit.cantdrag {
  background-color: #df3540;
}